
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<h3>We suggest the following :</h3>
<div class="col-md-5">

    @Html.ActionLink("Employee Controller", "AddEmployee", "Employee")
    <hr />
    @Html.ActionLink("Employee list using ViewModel", "ViewModelDemo")
    <hr />
    @Html.ActionLink("Employee list using PartialView", "PartialViewDemo")<hr />
    @Html.ActionLink("Employee list using ViewData", "ViewDataDemo")<hr />
    @Html.ActionLink("Employee list using ViewBag", "ViewBagDemo")<hr />
    @Html.ActionLink("Employee list using TempData", "TempDataDemo")<hr />
    @Html.ActionLink("Employee list using Tuple", "TupleDemo")<hr />
    @Html.ActionLink("@Html.Raw", "HtmlRawDemo")
</div>
<div class="col-md-3">
    <div class="btn btn-primary">
        <input type="file" id="imageBrowse" />
    </div>
    <hr />
    <div id="imgPreview" class="thumbnail" style="display:none">
        <img class="img-responsive" id="targetImg" />
        <div class="caption">
            <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
            <span id="description"></span>
        </div>
    </div>
</div>

<script>

    $(document).ready(function ()
    {
        $("#imageBrowse").change(function () {
            var File = this.files;
            if (File && File[0]) {
                ReadImage(File[0]);
            }
        })
    })

    var ReadImage = function (file)
    {
        var reader = new FileReader;
        var image = new Image;
        reader.readAsDataURL(file);
        reader.onload = function (_file)
        {
            image.src = _file.target.result;
            image.onload = function () {
                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";
                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size:" + size + ", " + height + "X " + width + "");
                $("#imgPreview").show();
            }
        }
    }

    var ClearPreview = function ()
    {
        $("#imageBrowse").val('');
        $("#description").text('');
        $("#imgPreview").hide();
    }
</script>


